$grow-1: #E8E6E0;
$grow: #A87C4F;
@font-face {
  font-family: 'Danh Ba';
  src: url('../fonts/DanhDa-Bold.otf');
}

//
//.elementor-heading-title {
//  font-family: 'Danh Ba', sans-serif !important;
//}

.ehf-header #masthead {
  background: #000000;
  width: 100%;
}

.main-navigation ul > li.menu-item > a,
.main-navigation ul.nav-menu > li.menu-item > a, .site-header-search > a i,
.header-group-action .site-header-cart .cart-contents:before,
.header-group-action .site-header-cart .count {
  color: white;
}

.count-review .star-rating span::before {
  color: #A67C50;
}

.text-white {
  color: white !important;
}

.post-style-custom {
  .more-link {
    background: transparent !important;
    border-radius: 50px;
    padding: 10px 50px;
    border: 2px solid #FFFFFF;
  }
}
.product-block{
  .product-image {
    max-height: 300px;
    display: flex;
    overflow: hidden;
    object-fit: contain;

    img {
      display: flex;
      object-fit: contain;
    }
  }
}
.product-style-custom {
  .star-rating {
    font-size: 20px;
  }

  .price {
    background: black;
    width: fit-content;
    border-radius: 50px;
    color: #A67C50 !important;
    font-style: italic;
    padding: 0 15px;
    margin: 10px auto;
    font-size: 12px !important;

    ins {
      color: #A67C50 !important;
    }
  }

  .product-transition {

    .onsale {
      position: absolute;
      top: 30%;
      left: 50%;
      background-color: unset;
      background-image: url("../images/tag.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      color: black;
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      font-size: 13px;
    }

    .product-image {
      max-height: 300px;
      display: flex;
      overflow: hidden;
      object-fit: contain;

      img {
        display: flex;
        object-fit: contain;
      }
    }

    .group-action {
      position: relative !important;
      border: solid 1px #A67C50;
      width: fit-content;
      border-radius: 50px;
      bottom: 0;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: visible;
      opacity: 1;

      button:before, a:before {
        color: #A67C50;
      }

      &.background-white {
        padding: 0;
        background: transparent;

        .shop-action.horizontal > *:not(:last-child) {
          border-right: 1px solid #A67C50;
        }
      }
    }
  }
}

.white-popup {
  max-width: 100%;
  width: 500px;
  overflow: auto !important;
  background: rgba(0, 0, 0, .5);
  margin: auto;

  .mfp-close {
    display: none;
  }

  .popup-content {
    padding: 40px 20px;
    text-align: center;
    color: white;
    font-size: 20px;

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      flex-direction: column;
      align-items: center;

      h4 {
        color: white;
      }
    }

    .form-group {
      text-align: left;
      width: fit-content;
      margin: auto;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      position: relative;
      display: inline-block;
      padding-left: 1.5em;
      margin-right: 2em;
      cursor: pointer;
      line-height: 1em;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    input[type="radio"] + label:before,
    input[type="radio"] + label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      text-align: center;
      color: white;
      font-family: Times;
      border-radius: 50%;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    input[type="radio"] + label:before {
      content: '✓';
      border-radius: 4px;
      background-color: white;
      color: white;
    }

    input[type="radio"] + label:hover:before {
      color: #f0f0f0;
    }

    input[type="radio"]:checked + label:before {
      background-color: white;
      color: #f79420;
    }

  }
}
.social{
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  .item{
    transition: 0.5s all;
    border: 1px solid white;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #A67C50;
    &:hover{
      transform: scale(1.1);
    }
  }
}
