@charset "UTF-8";
/* ===== Start ICONS CSS ===== */
@font-face {
  font-family: "shopio-icon";
  src: url("./assets/fonts/icons/shopio-icon-1.1.8.eot");
  src: url("./assets/fonts/icons/shopio-icon-1.1.8.eot?#iefix") format("eot"), url("./assets/fonts/icons/shopio-icon-1.1.8.woff2") format("woff2"), url("./assets/fonts/icons/shopio-icon-1.1.8.woff") format("woff"), url("./assets/fonts/icons/shopio-icon-1.1.8.ttf") format("truetype"), url("./assets/fonts/icons/shopio-icon-1.1.8.svg#shopio-icon-1.1.8") format("svg");
}
[class*=shopio-icon-] {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.shopio-icon-360:before {
  content: "";
}

.shopio-icon-bars:before {
  content: "";
}

.shopio-icon-caret-down:before {
  content: "";
}

.shopio-icon-caret-left:before {
  content: "";
}

.shopio-icon-caret-right:before {
  content: "";
}

.shopio-icon-caret-up:before {
  content: "";
}

.shopio-icon-cart-empty:before {
  content: "";
}

.shopio-icon-check-square:before {
  content: "";
}

.shopio-icon-circle:before {
  content: "";
}

.shopio-icon-cloud-download-alt:before {
  content: "";
}

.shopio-icon-comment:before {
  content: "";
}

.shopio-icon-comments:before {
  content: "";
}

.shopio-icon-contact:before {
  content: "";
}

.shopio-icon-credit-card:before {
  content: "";
}

.shopio-icon-dot-circle:before {
  content: "";
}

.shopio-icon-edit:before {
  content: "";
}

.shopio-icon-envelope:before {
  content: "";
}

.shopio-icon-expand-alt:before {
  content: "";
}

.shopio-icon-external-link-alt:before {
  content: "";
}

.shopio-icon-file-alt:before {
  content: "";
}

.shopio-icon-file-archive:before {
  content: "";
}

.shopio-icon-filter:before {
  content: "";
}

.shopio-icon-folder-open:before {
  content: "";
}

.shopio-icon-folder:before {
  content: "";
}

.shopio-icon-frown:before {
  content: "";
}

.shopio-icon-gift:before {
  content: "";
}

.shopio-icon-grid:before {
  content: "";
}

.shopio-icon-grip-horizontal:before {
  content: "";
}

.shopio-icon-heart-fill:before {
  content: "";
}

.shopio-icon-heart:before {
  content: "";
}

.shopio-icon-history:before {
  content: "";
}

.shopio-icon-home:before {
  content: "";
}

.shopio-icon-info-circle:before {
  content: "";
}

.shopio-icon-instagram:before {
  content: "";
}

.shopio-icon-level-up-alt:before {
  content: "";
}

.shopio-icon-list:before {
  content: "";
}

.shopio-icon-map-marker-check:before {
  content: "";
}

.shopio-icon-meh:before {
  content: "";
}

.shopio-icon-minus-circle:before {
  content: "";
}

.shopio-icon-minus:before {
  content: "";
}

.shopio-icon-mobile-android-alt:before {
  content: "";
}

.shopio-icon-money-bill:before {
  content: "";
}

.shopio-icon-pencil-alt:before {
  content: "";
}

.shopio-icon-plus-circle:before {
  content: "";
}

.shopio-icon-plus:before {
  content: "";
}

.shopio-icon-random:before {
  content: "";
}

.shopio-icon-reply-all:before {
  content: "";
}

.shopio-icon-reply:before {
  content: "";
}

.shopio-icon-search-plus:before {
  content: "";
}

.shopio-icon-search:before {
  content: "";
}

.shopio-icon-shield-check:before {
  content: "";
}

.shopio-icon-shopping-basket:before {
  content: "";
}

.shopio-icon-shopping-cart:before {
  content: "";
}

.shopio-icon-sign-out-alt:before {
  content: "";
}

.shopio-icon-smile:before {
  content: "";
}

.shopio-icon-spinner:before {
  content: "";
}

.shopio-icon-square:before {
  content: "";
}

.shopio-icon-star:before {
  content: "";
}

.shopio-icon-store:before {
  content: "";
}

.shopio-icon-sync:before {
  content: "";
}

.shopio-icon-tachometer-alt:before {
  content: "";
}

.shopio-icon-th-large:before {
  content: "";
}

.shopio-icon-th-list:before {
  content: "";
}

.shopio-icon-thumbtack:before {
  content: "";
}

.shopio-icon-ticket:before {
  content: "";
}

.shopio-icon-times-circle:before {
  content: "";
}

.shopio-icon-times:before {
  content: "";
}

.shopio-icon-trophy-alt:before {
  content: "";
}

.shopio-icon-truck:before {
  content: "";
}

.shopio-icon-user-headset:before {
  content: "";
}

.shopio-icon-user-shield:before {
  content: "";
}

.shopio-icon-user:before {
  content: "";
}

.shopio-icon-video:before {
  content: "";
}

.shopio-icon-wishlist-empty:before {
  content: "";
}

.shopio-icon-account:before {
  content: "";
}

.shopio-icon-address:before {
  content: "";
}

.shopio-icon-angle-down:before {
  content: "";
}

.shopio-icon-angle-left:before {
  content: "";
}

.shopio-icon-angle-right:before {
  content: "";
}

.shopio-icon-angle-up:before {
  content: "";
}

.shopio-icon-automotive:before {
  content: "";
}

.shopio-icon-badge:before {
  content: "";
}

.shopio-icon-bag-alt:before {
  content: "";
}

.shopio-icon-beauty-health:before {
  content: "";
}

.shopio-icon-bed:before {
  content: "";
}

.shopio-icon-bold-flavor:before {
  content: "";
}

.shopio-icon-boost-metabolism:before {
  content: "";
}

.shopio-icon-calendar:before {
  content: "";
}

.shopio-icon-cart-plus:before {
  content: "";
}

.shopio-icon-cart:before {
  content: "";
}

.shopio-icon-chairs:before {
  content: "";
}

.shopio-icon-chat:before {
  content: "";
}

.shopio-icon-check-square-solid:before {
  content: "";
}

.shopio-icon-chevron-double-left:before {
  content: "";
}

.shopio-icon-chevron-double-right:before {
  content: "";
}

.shopio-icon-click:before {
  content: "";
}

.shopio-icon-clock:before {
  content: "";
}

.shopio-icon-clothing-fashion:before {
  content: "";
}

.shopio-icon-coffee-sourced:before {
  content: "";
}

.shopio-icon-compare:before {
  content: "";
}

.shopio-icon-customer-say:before {
  content: "";
}

.shopio-icon-customer-support:before {
  content: "";
}

.shopio-icon-daily-deals:before {
  content: "";
}

.shopio-icon-deal:before {
  content: "";
}

.shopio-icon-delivered-fresh:before {
  content: "";
}

.shopio-icon-delivery-1:before {
  content: "";
}

.shopio-icon-delivery-2:before {
  content: "";
}

.shopio-icon-delivery:before {
  content: "";
}

.shopio-icon-design-plant:before {
  content: "";
}

.shopio-icon-discount-01:before {
  content: "";
}

.shopio-icon-discount:before {
  content: "";
}

.shopio-icon-electronics:before {
  content: "";
}

.shopio-icon-esasy-pres:before {
  content: "";
}

.shopio-icon-eye:before {
  content: "";
}

.shopio-icon-facebook-f:before {
  content: "";
}

.shopio-icon-fashion-payment:before {
  content: "";
}

.shopio-icon-fashion-quality:before {
  content: "";
}

.shopio-icon-fashion:before {
  content: "";
}

.shopio-icon-featured:before {
  content: "";
}

.shopio-icon-filter-ul:before {
  content: "";
}

.shopio-icon-food-drink:before {
  content: "";
}

.shopio-icon-free-delivery-1:before {
  content: "";
}

.shopio-icon-free-delivery:before {
  content: "";
}

.shopio-icon-free-return:before {
  content: "";
}

.shopio-icon-furniture-1:before {
  content: "";
}

.shopio-icon-furniture:before {
  content: "";
}

.shopio-icon-garden-care:before {
  content: "";
}

.shopio-icon-gift-r:before {
  content: "";
}

.shopio-icon-global-1:before {
  content: "";
}

.shopio-icon-google-plus-g:before {
  content: "";
}

.shopio-icon-healh-beauty:before {
  content: "";
}

.shopio-icon-health-beauty:before {
  content: "";
}

.shopio-icon-heart-1:before {
  content: "";
}

.shopio-icon-home-appliances:before {
  content: "";
}

.shopio-icon-increase-energy:before {
  content: "";
}

.shopio-icon-left-arrow:before {
  content: "";
}

.shopio-icon-like:before {
  content: "";
}

.shopio-icon-linkedin-in:before {
  content: "";
}

.shopio-icon-list-ul:before {
  content: "";
}

.shopio-icon-long-arrow-down:before {
  content: "";
}

.shopio-icon-long-arrow-left:before {
  content: "";
}

.shopio-icon-long-arrow-right:before {
  content: "";
}

.shopio-icon-long-arrow-up:before {
  content: "";
}

.shopio-icon-mailchip-01:before {
  content: "";
}

.shopio-icon-mall-fashion:before {
  content: "";
}

.shopio-icon-medica-riview:before {
  content: "";
}

.shopio-icon-medica-saving:before {
  content: "";
}

.shopio-icon-money-return:before {
  content: "";
}

.shopio-icon-need:before {
  content: "";
}

.shopio-icon-newsletter:before {
  content: "";
}

.shopio-icon-pen:before {
  content: "";
}

.shopio-icon-pet-supplies:before {
  content: "";
}

.shopio-icon-phone:before {
  content: "";
}

.shopio-icon-plane-1:before {
  content: "";
}

.shopio-icon-play:before {
  content: "";
}

.shopio-icon-popular:before {
  content: "";
}

.shopio-icon-quality:before {
  content: "";
}

.shopio-icon-quote:before {
  content: "";
}

.shopio-icon-recommend:before {
  content: "";
}

.shopio-icon-refund:before {
  content: "";
}

.shopio-icon-return-fashion:before {
  content: "";
}

.shopio-icon-right-arrow-cicrle:before {
  content: "";
}

.shopio-icon-right-arrow:before {
  content: "";
}

.shopio-icon-rocket-1:before {
  content: "";
}

.shopio-icon-search-1:before {
  content: "";
}

.shopio-icon-searches:before {
  content: "";
}

.shopio-icon-secure-payment:before {
  content: "";
}

.shopio-icon-seed-supply:before {
  content: "";
}

.shopio-icon-shieldcheck-01:before {
  content: "";
}

.shopio-icon-shopping-bag:before {
  content: "";
}

.shopio-icon-sliders-v:before {
  content: "";
}

.shopio-icon-smooth-taste:before {
  content: "";
}

.shopio-icon-sports:before {
  content: "";
}

.shopio-icon-star-bestseller:before {
  content: "";
}

.shopio-icon-storage:before {
  content: "";
}

.shopio-icon-support-01:before {
  content: "";
}

.shopio-icon-support:before {
  content: "";
}

.shopio-icon-toys-kids:before {
  content: "";
}

.shopio-icon-travel-outdoor:before {
  content: "";
}

.shopio-icon-twitte-1:before {
  content: "";
}

.shopio-icon-vase:before {
  content: "";
}

.shopio-icon-watering-graden:before {
  content: "";
}

.shopio-icon-weight-loss:before {
  content: "";
}

.shopio-icon-adobe:before {
  content: "";
}

.shopio-icon-amazon:before {
  content: "";
}

.shopio-icon-android:before {
  content: "";
}

.shopio-icon-angular:before {
  content: "";
}

.shopio-icon-apper:before {
  content: "";
}

.shopio-icon-apple:before {
  content: "";
}

.shopio-icon-atlassian:before {
  content: "";
}

.shopio-icon-behance:before {
  content: "";
}

.shopio-icon-bitbucket:before {
  content: "";
}

.shopio-icon-bitcoin:before {
  content: "";
}

.shopio-icon-bity:before {
  content: "";
}

.shopio-icon-bluetooth:before {
  content: "";
}

.shopio-icon-btc:before {
  content: "";
}

.shopio-icon-centos:before {
  content: "";
}

.shopio-icon-chrome:before {
  content: "";
}

.shopio-icon-codepen:before {
  content: "";
}

.shopio-icon-cpanel:before {
  content: "";
}

.shopio-icon-discord:before {
  content: "";
}

.shopio-icon-dochub:before {
  content: "";
}

.shopio-icon-docker:before {
  content: "";
}

.shopio-icon-dribbble:before {
  content: "";
}

.shopio-icon-dropbox:before {
  content: "";
}

.shopio-icon-drupal:before {
  content: "";
}

.shopio-icon-ebay:before {
  content: "";
}

.shopio-icon-facebook:before {
  content: "";
}

.shopio-icon-figma:before {
  content: "";
}

.shopio-icon-firefox:before {
  content: "";
}

.shopio-icon-google-plus:before {
  content: "";
}

.shopio-icon-google:before {
  content: "";
}

.shopio-icon-grunt:before {
  content: "";
}

.shopio-icon-gulp:before {
  content: "";
}

.shopio-icon-html5:before {
  content: "";
}

.shopio-icon-joomla:before {
  content: "";
}

.shopio-icon-link-brand:before {
  content: "";
}

.shopio-icon-linkedin:before {
  content: "";
}

.shopio-icon-mailchimp:before {
  content: "";
}

.shopio-icon-opencart:before {
  content: "";
}

.shopio-icon-paypal:before {
  content: "";
}

.shopio-icon-pinterest-p:before {
  content: "";
}

.shopio-icon-reddit:before {
  content: "";
}

.shopio-icon-skype:before {
  content: "";
}

.shopio-icon-slack:before {
  content: "";
}

.shopio-icon-snapchat:before {
  content: "";
}

.shopio-icon-spotify:before {
  content: "";
}

.shopio-icon-trello:before {
  content: "";
}

.shopio-icon-twitter:before {
  content: "";
}

.shopio-icon-vimeo:before {
  content: "";
}

.shopio-icon-whatsapp:before {
  content: "";
}

.shopio-icon-wordpress:before {
  content: "";
}

.shopio-icon-yoast:before {
  content: "";
}

.shopio-icon-youtube:before {
  content: "";
}

/* ===== End ICONS CSS ===== */
.editor-styles-wrapper .wp-block-quote,
.hentry .entry-content .wp-block-quote {
  position: relative;
}
.editor-styles-wrapper .wp-block-quote:before,
.hentry .entry-content .wp-block-quote:before {
  position: absolute;
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  left: 0;
  top: 30px;
  padding: 15px 0;
  background-color: var(--background);
  transform: translateX(-50%);
  color: var(--primary);
  font-size: 44px;
}

.shopio-social ul {
  margin: 0;
  list-style-type: none;
}
.shopio-social ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
}
.shopio-social ul li:last-child {
  margin-right: 0;
}
.shopio-social ul li a:before {
  position: relative;
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.shopio-social ul li a[href*=twitter]:before {
  content: "";
  color: #1DA1F2;
}
.shopio-social ul li a[href*=instagram]:before {
  content: "";
  color: #262626;
}
.shopio-social ul li a[href*=docker]:before {
  content: "";
}
.shopio-social ul li a[href*=dochub]:before {
  content: "";
}
.shopio-social ul li a[href*=yelp]:before {
  content: "";
  color: #af0606;
}
.shopio-social ul li a[href*=flickr]:before {
  content: "";
  color: #0063dc;
}
.shopio-social ul li a[href*=github]:before {
  content: "";
  color: #333333;
}
.shopio-social ul li a[href*=dribbble]:before {
  content: "";
  color: #ea4c89;
}
.shopio-social ul li a[href*=wordpress]:before {
  content: "";
  color: #21759b;
}
.shopio-social ul li a[href*=tumblr]:before {
  content: "";
  color: #35465c;
}
.shopio-social ul li a[href*=angular]:before {
  content: "";
}
.shopio-social ul li a[href*=atlassian]:before {
  content: "";
}
.shopio-social ul li a[href*=snapchat]:before {
  content: "";
  color: #fffc00;
}
.shopio-social ul li a[href*=apper]:before {
  content: "";
}
.shopio-social ul li a[href*=codepen]:before {
  content: "";
}
.shopio-social ul li a[href*=gulp]:before {
  content: "";
}
.shopio-social ul li a[href*=cpanel]:before {
  content: "";
}
.shopio-social ul li a[href*=skype]:before {
  content: "";
  color: #00AFF0;
}
.shopio-social ul li a[href*=reddit]:before {
  content: "";
  color: #ff4500;
}
.shopio-social ul li a[href*=whatsapp]:before {
  content: "";
}
.shopio-social ul li a[href*=slack]:before {
  content: "";
}
.shopio-social ul li a[href*=amazon]:before {
  content: "";
}
.shopio-social ul li a[href*=android]:before {
  content: "";
}
.shopio-social ul li a[href*=grunt]:before {
  content: "";
}
.shopio-social ul li a[href*=firefox]:before {
  content: "";
}
.shopio-social ul li a[href*=adobe]:before {
  content: "";
}
.shopio-social ul li a[href*=behance]:before {
  content: "";
}
.shopio-social ul li a[href*=dropbox]:before {
  content: "";
}
.shopio-social ul li a[href*=facebook]:before {
  content: "";
  color: #3b5998;
}
.shopio-social ul li a[href*=linkedin]:before {
  content: "";
  color: #0077b5;
}
.shopio-social ul li a[href*=paypal]:before {
  content: "";
}
.shopio-social ul li a[href*=trello]:before {
  content: "";
}
.shopio-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.shopio-social ul li a[href*=youtube]:before {
  content: "";
  color: #cd201f;
}
.shopio-social ul li a[href*=apple]:before {
  content: "";
  color: #999999;
}
.shopio-social ul li a[href*=bitbucket]:before {
  content: "";
}
.shopio-social ul li a[href*=bitcoin]:before {
  content: "";
}
.shopio-social ul li a[href*=bluetooth]:before {
  content: "";
}
.shopio-social ul li a[href*=bity]:before {
  content: "";
}
.shopio-social ul li a[href*="google/chrome"]:before {
  content: "";
}
.shopio-social ul li a[href*=drupal]:before {
  content: "";
}
.shopio-social ul li a[href*=html5]:before {
  content: "";
}
.shopio-social ul li a[href*=mailchimp]:before {
  content: "";
}
.shopio-social ul li a[href*=jenkins]:before {
  content: "";
}
.shopio-social ul li a[href*=spotify]:before {
  content: "";
  color: #2ebd59;
}
.shopio-social ul li a[href*=ebay]:before {
  content: "";
}
.shopio-social ul li a[href*=telegram]:before {
  content: "";
  color: #2CA5E0;
}
.shopio-social ul li a[href*=yoast]:before {
  content: "";
}
.shopio-social ul li a[href*=btc-e]:before {
  content: "";
}
.shopio-social ul li a[href*=discord]:before {
  content: "";
}
.shopio-social ul li a[href*=google]:before {
  content: "";
  color: #dd4b39;
}
.shopio-social ul li a[href*=google-plus]:before {
  content: "";
}
.shopio-social ul li a[href*=figma]:before {
  content: "";
}
.shopio-social ul li a[href*=joomla]:before {
  content: "";
}
.shopio-social ul li a[href*=opencart]:before {
  content: "";
}
.shopio-social ul li a[href*=pinterest]:before {
  content: "";
  color: #bd081c;
}
.shopio-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.shopio-social ul li a[href*=centos]:before {
  content: "";
}
.shopio-social ul li a[href*=whatsapp]:before {
  content: "";
}

#comments .commentlist .bypostauthor > .comment-body cite::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}
#comments .reply a::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-top: -3px;
  font-size: 11px;
}
#comments .reply a.comment-edit-link::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

#respond #cancel-comment-reply-link::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
}

.sticky .entry-title::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

button.loading,
input[type=button].loading,
input[type=reset].loading,
input[type=submit].loading,
.button.loading,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.loading,
.added_to_cart.loading {
  position: relative;
}
button.loading::after,
input[type=button].loading::after,
input[type=reset].loading::after,
input[type=submit].loading::after,
.button.loading::after,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link.loading::after,
.added_to_cart.loading::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
}

.shop-action .blockUI.blockOverlay:before,
.shop-action .loader:before {
  top: 50%;
  left: 50%;
  opacity: 1 !important;
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 1;
  position: absolute;
  display: block !important;
  margin-left: -10px;
  margin-top: -10px;
  color: #000;
}

.shop-action .blockUI.blockOverlay {
  opacity: 1 !important;
  overflow: hidden;
  background-image: none !important;
  background: #fff !important;
}

.main-navigtion ul li a::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.mobile-navigation ul li button::after, .mobile-navigation-categories ul li button::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.mobile-navigation ul li button.toggled-on::after, .mobile-navigation-categories ul li button.toggled-on::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.wp-block-archives li:before,
.wp-block-categories li:before,
.widget_categories li:before,
.widget_archive li:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: 16px;
  font-size: 16px;
  color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -3px;
}

.widget_search form::before,
.widget_product_search form::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  z-index: 1;
}
.widget_search.widget_block form::before,
.widget_product_search.widget_block form::before {
  content: none;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper,
.widget_product_search.widget_block form .wp-block-search__inside-wrapper {
  position: relative;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper:before,
.widget_product_search.widget_block form .wp-block-search__inside-wrapper:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  z-index: 1;
}

.single-product .pswp__button {
  background-color: transparent;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  text-indent: -999px;
  overflow: hidden;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
  line-height: 20px;
  text-indent: 0;
  font-size: 18px;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
  display: none !important;
}
.single-product div.product .entry-summary .yith-wcwl-add-to-wishlist > div > a:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product div.product .entry-summary .compare:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product div.product .entry-summary .single_add_to_cart_button:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 8px;
  font-size: 22px;
  margin-top: -3px;
}

.stock::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.5407911001em;
  margin-top: -4px;
}
.stock.in-stock::before {
  content: "";
}

.content-area .shopio-dropdown-filter-wrap .widget_layered_nav ul {
  margin-left: 0;
}
.content-area .shopio-dropdown-filter-wrap .widget_layered_nav ul li {
  padding-left: 1.618em;
}
.content-area .shopio-dropdown-filter-wrap .widget_layered_nav ul li::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.5407911001em;
  display: block;
  float: left;
  opacity: 0.35;
  margin-left: -1.618em;
  width: 1em;
}
.content-area .shopio-dropdown-filter-wrap .widget_layered_nav ul li .children {
  margin-left: 0;
}
.content-area .shopio-dropdown-filter-wrap .widget_layered_nav li::before {
  content: "";
}
.content-area .shopio-dropdown-filter-wrap .widget_layered_nav .chosen::before {
  content: "";
}

.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav ul {
  margin-left: 0;
}
.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav ul li {
  padding-left: 1.618em;
}
.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav ul li::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.5407911001em;
  display: block;
  float: left;
  opacity: 0.35;
  margin-left: -1.618em;
  width: 1em;
}
.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav ul li .children {
  margin-left: 0;
}
.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav li::before {
  content: "";
}
.shopio-canvas-filter .shopio-canvas-filter-wrap .widget_layered_nav .chosen::before {
  content: "";
}

a.remove {
  display: block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
}
a.remove::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #999999;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
}

.woocommerce-shipping-calculator > p:first-child a::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.3342343017em;
}

.blockUI::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.woocommerce-pagination .next,
.woocommerce-pagination .prev {
  display: inline-block;
  position: relative;
}

#shipping_method li > label {
  cursor: pointer;
  padding-right: 20px;
  position: relative;
}
#shipping_method li > label::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#shipping_method li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#shipping_method li > input[type=radio]:first-child:checked + label::after {
  font-weight: 700;
  content: "";
}
#shipping_method li > input[type=hidden]:first-child + label {
  padding-right: 0;
}
#shipping_method li > input[type=hidden]:first-child + label::after {
  content: none;
}

#payment .payment_methods li > label {
  cursor: pointer;
}
#payment .payment_methods li > label::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
  transition: color, ease, 0.2s;
}
#payment .payment_methods li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#payment .payment_methods li > input[type=radio]:first-child:checked + label::before {
  font-weight: 700;
  content: "";
}

.woocommerce-password-strength::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}
.woocommerce-password-strength.strong::after {
  content: "";
}
.woocommerce-password-strength.good::after {
  content: "";
}

.woocommerce-MyAccount-navigation ul li.is-active a::before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li a::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: 1.618;
  margin-left: 0.5407911001em;
  width: 1.41575em;
  text-align: right;
  float: right;
  opacity: 0.25;
  font-weight: 700;
}
.woocommerce-MyAccount-navigation ul li a:hover::before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a::before {
  content: "";
}

.my_account_orders .button.view::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

p.order-again .button::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

.woocommerce-MyAccount-downloads .button::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

.demo_store::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

#reviews .commentlist li p.meta .verified {
  display: inline-block;
  height: 1.41575em;
  width: 1.41575em;
  position: relative;
  text-indent: -9999px;
}
#reviews .commentlist li p.meta .verified::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  color: #0f834d;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.41575em;
  height: 1.41575em;
  text-indent: 0;
  text-align: center;
  line-height: 1.618em;
}

/**
 * Composite Products
 */
.single-product div.product .component_selections .clear_component_options::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

/**
 * Mix and Match
 */
.cart .mnm_table_item .mnm_table_item_indent::before,
.shop_table .mnm_table_item .mnm_table_item_indent::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  transform: rotate(90deg);
  margin-right: 0.3819820591em;
  opacity: 0.25;
}

/**
 * Quick view
 */
.quick-view-button::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.6180469716em;
}

/**
 * Ship multiple addresses
 */
.woocommerce-page .ship_address .gift-form label::after,
.woocommerce-page .no_shipping_address .gift-form label::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}
.woocommerce-page .ship_address .modify-address-button::before,
.woocommerce-page .no_shipping_address .modify-address-button::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}
.woocommerce-page .addresses + .addresses header.title a::before {
  content: "";
}

/**
 * Product reviews pro
 */
.woocommerce .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a::before,
.woocommerce-page .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

/**
 * Variation Swatches
 */
a#variations_clear::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

/**
 * Wishlists
 */
.wl-add-link::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.button.wl-create-new::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.site-header-cart .cart-contents::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.elementor-widget-shopio-vertical-menu .vertical-navigation .shopio-icon {
  position: relative;
}
.elementor-widget-shopio-vertical-menu .vertical-navigation .shopio-icon::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  font-weight: 700;
  transition: transform 0.2s;
}
.elementor-widget-shopio-vertical-menu .vertical-navigation .shopio-icon::before {
  position: absolute;
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  font-weight: 700;
  transform: translate3d(0, 250%, 0);
  transition: transform 0.2s;
}
.elementor-widget-shopio-vertical-menu .vertical-navigation:hover .shopio-icon::after {
  transform: translate3d(0, -250%, 0);
}
.elementor-widget-shopio-vertical-menu .vertical-navigation:hover .shopio-icon::before {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.menu > li.has-mega-menu > a:after,
.main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: 7px;
    font-size: 16px;
    margin-bottom: 3px;
  }
  .gecko .main-navigation ul.menu > li.menu-item-has-children > a:after, .gecko .main-navigation ul.menu > li.page_item_has_children > a:after, .gecko .main-navigation ul.menu > li.has-mega-menu > a:after,
.gecko .main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.gecko .main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.gecko .main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    margin-bottom: 0;
    vertical-align: sub;
  }

  .header-side .main-navigation ul.menu > li.menu-item-has-children > a::after, .header-side .main-navigation ul.menu > li.page_item_has_children > a::after, .header-side .main-navigation ul.menu > li.has-mega-menu > a::after,
.header-side .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.header-side .main-navigation ul.nav-menu > li.page_item_has_children > a::after,
.header-side .main-navigation ul.nav-menu > li.has-mega-menu > a::after {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: 1em;
    margin-right: -25px;
  }

  .vertical-navigation ul.menu > li.menu-item-has-children > a::after, .vertical-navigation ul.menu > li.page_item_has_children > a::after, .vertical-navigation ul.menu > li.has-mega-menu > a::after,
.vertical-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.nav-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.nav-menu > li.has-mega-menu > a::after {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: auto;
    float: right;
  }

  .main-navigation ul.menu ul li.menu-item-has-children > a::after, .main-navigation ul.menu ul li.page_item_has_children > a::after,
.main-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu ul li.page_item_has_children > a::after {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    float: right;
    margin-left: 10px;
    line-height: 1.5;
  }

  .demo_store a.woocommerce-store-notice__dismiss-link::before {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-right: 0.3342343017em;
  }

  .addresses header.title a {
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    position: relative;
    padding: 0.875em;
    margin-top: 0.6180469716em;
  }
  .addresses header.title a::before {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    line-height: 1.618;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }

  /**
   * Wishlists
   */
  #wl-wrapper .wl-tabs > li.active::after {
    font-family: "shopio-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    display: block !important;
    position: absolute;
    top: 50%;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
  }
}
ul.wishlist_table.mobile .remove_from_wishlist:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.slick-prev:before,
.slick-next:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.slick-prev:before {
  content: "";
}
[dir=rtl] .slick-prev:before {
  content: "";
}
.woocommerce-product-gallery-vertical .slick-prev:before {
  content: "";
}
.woocommerce-product-gallery-horizontal .slick-prev:before {
  content: "";
}

.slick-next:before {
  content: "";
}
[dir=rtl] .slick-next:before {
  content: "";
}
.woocommerce-product-gallery-vertical .slick-next:before {
  content: "";
}
.woocommerce-product-gallery-horizontal .slick-next:before {
  content: "";
}

.arrow-style-3 .slick-prev:before {
  content: "";
}
[dir=rtl] .arrow-style-3 .slick-prev:before {
  content: "";
}
.arrow-style-3 .slick-next:before {
  content: "";
}
[dir=rtl] .arrow-style-3 .slick-next:before {
  content: "";
}

body.loading {
  position: relative;
}
body.loading::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 999999;
  color: #fff;
}
body.loading:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999998;
}

.woocommerce-cart .cart-empty:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 164px;
  color: var(--light);
  display: block;
  margin-bottom: 50px;
}

h2.resp-accordion:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 10px;
}
h2.resp-accordion.active:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.widget_product_categories .icon-minus {
  float: right;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.widget_product_categories .icon-minus:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
}
.widget_product_categories .icon-plus {
  float: right;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.widget_product_categories .icon-plus:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
}

.widget_product_brands ul li a:before,
.widget_product_categories ul li a:before,
.widget_layered_nav ul li a:before,
.widget_layered_nav_filters ul li a:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 8px;
  margin-top: -2px;
}
.widget_product_brands ul li.current-cat a:before,
.widget_product_categories ul li.current-cat a:before,
.widget_layered_nav ul li.current-cat a:before,
.widget_layered_nav_filters ul li.current-cat a:before {
  content: "";
}

.product-block a[class*=product_type_]:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 18px;
  margin: -5px 10px 0 0;
}

.product-list a[class*=product_type_]:before {
  content: "";
  font-size: 20px;
  margin-right: 10px;
  margin-top: -4px;
}

.shop-action a[class*=product_type_]:before {
  content: "";
  font-size: 20px;
  margin-right: 10px;
  margin-top: -4px;
}

.shop-action .woosc-btn:before,
.shop-action .woosq-btn:before,
.shop-action .woosw-btn:before,
.shop-action a[class*=product_type_]:before, .product-list .woosc-btn:before,
.product-list .woosq-btn:before,
.product-list .woosw-btn:before,
.product-list a[class*=product_type_]:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.shop-action .woosw-btn:before, .product-list .woosw-btn:before {
  content: "";
}
.shop-action .woosw-btn.woosw-added:before, .product-list .woosw-btn.woosw-added:before {
  content: "";
  color: red;
  margin-right: 0;
}
.shop-action .woosw-btn.woosw-adding::after, .product-list .woosw-btn.woosw-adding::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  line-height: inherit;
  content: "" !important;
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
  transform: translate(0);
}
.shop-action .woosw-btn.woosw-adding:before, .product-list .woosw-btn.woosw-adding:before {
  opacity: 0;
}
.shop-action .woosc-btn:before, .product-list .woosc-btn:before {
  content: "";
}
.shop-action .woosq-btn:before, .product-list .woosq-btn:before {
  content: "";
}

.single-product div.product .entry-summary .woosc-btn:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: inherit;
}
.single-product div.product .entry-summary .woosw-btn:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: inherit;
}
.single-product div.product .entry-summary .woosw-btn.woosw-added:before {
  content: "";
}

a.read-more:after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
}

.ajax-search .widget_product_search .woocommerce-product-search.loading::before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: mf-spin-fast 1s linear infinite;
  margin-top: -9px;
}

.elementor-widget-shopio-language-switcher.language-switcher-style-mobile .shopio-language-switcher .language-switcher-head:after {
  position: relative;
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5em;
  line-height: 12px;
}

.loading-quick-shop .product-transition::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.search-by-category .input-dropdown-inner > a:after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.popup-navigation ul.menu > li.menu-item-has-children > a:after, .popup-navigation ul.menu > li.page_item_has_children > a:after, .popup-navigation ul.menu > li.has-mega-menu > a:after,
.popup-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.popup-navigation ul.nav-menu > li.page_item_has_children > a:after,
.popup-navigation ul.nav-menu > li.has-mega-menu > a:after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5em;
  font-size: 16px;
}

.popup-navigation ul.menu ul li.menu-item-has-children > a::after, .popup-navigation ul.menu ul li.page_item_has_children > a::after,
.popup-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.popup-navigation ul.nav-menu ul li.page_item_has_children > a::after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  float: right;
  margin-left: 0.5em;
  line-height: 20px;
  font-size: 14px;
}

.shopio-elementor-single-product .shop-button a[class*=product_type_]:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  margin-top: 3px;
  float: right;
  transition: all 0.3s ease;
}

.elementor-widget-shopio-image-gallery .column-item a:after {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.woosw-list .woosw-content-mid-notice:before {
  font-family: "shopio-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 164px;
  color: var(--light);
  display: block;
  margin-bottom: 50px;
}

@keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-o-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-ms-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}

/*# sourceMappingURL=icons.css.map */
